.button {
	display: inline-block;
	height: auto;
	padding: 0.8rem 2rem;
	border: none;
	border-radius: 6px;
	font-weight: 500;
	font-size: 1.6rem;
	text-decoration: none;
	text-transform: capitalize;
	cursor: pointer;
	overflow: hidden;
	
	&__select {
		color: var(--black-2);
		font-family: Poppins;
		padding: 1rem;
		text-align: center;
		border: none;
		background-color: var(--bg-3);
        // padding-right: 20px;
		//width: 100px;
		cursor: pointer;
	}
}
.button--primary {
	background-color: var(--primaryPurple);
	color: var(--white);
}
.button--secondary {
	background-color: var(--bg-3);
	color: var(--black-1);
}
select {
	-webkit-appearance: none;
	appearance: none;
	  }
	  @media only screen and (max-width: 640px) {
		.button{
			font-size: 10px;
			white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 10px;
	width: 70px;
	padding: 5px 10px;
	&__select {
		width: 40px;
		padding: 7px 10px
	}
		}
	  }